.buttonAnimated:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px); 
}

.buttonAnimated:hover{
    cursor: pointer;
    transform: translateY(2px);
    color: rgb(241, 170, 63);
     
}