.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 30px;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 10px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #6db5e6;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #972f23;
	border-bottom: 5px solid #792920;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #222222;
    border-bottom: 5px solid #1b1b1b;
    font-size: 15px;
    padding: 10px 50px;
	text-shadow: 0px -2px #213313;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}


